:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 720px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
    /* Dracula */
    --background: rgb(40, 42, 54);
    --current-line: rgb(68, 71, 90);
    --foreground: rgb(248, 248, 242);
    --comment: rgb(98, 114, 164);
    --cyan: rgb(139, 233, 253);
    --green: rgb(80, 250, 123);
    --orange: rgb(255, 184, 108);
    --pink: rgb(255, 121, 198);
    --purple: rgb(189, 147, 249);
    --red: rgb(255, 85, 85);
    --yellow: rgb(241, 250, 140);
}

.dark {
    --theme: var(--background);
    --entry: var(--current-line);
    --primary: var(--foreground);
    --secondary: --var(--primary);
    --tertiary: --var(--primary);
    --content: --var(--primary);
    --hljs-bg: var(--current-line);
    --code-bg: var(--current-line);
    --border: var(--comment);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
